<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Plagiarism Checker</title>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/bootstrap.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/font-awesome.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='styles/templatemo-training-studio.css')}}">

    </head>
    <body>

    <!-- ***** Preloader Start ***** -->
<!--    <div id="js-preloader" class="js-preloader">-->
<!--      <div class="preloader-inner">-->
<!--        <span class="dot"></span>-->
<!--        <div class="dots">-->
<!--          <span></span>-->
<!--          <span></span>-->
<!--          <span></span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">PLAGIARISM<em> CHECKER</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#features">About</a></li>
                            <li class="scroll-to-section"><a href="#trainers">Team</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>
                            <li class="main-button"><a href="#Feedback">Feedback</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="{{url_for('static',filename='styles/main.mp4')}}" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>IMITATION IS THE </h6>
                <h2>SINCEREST FORM OF <em>DISRESPECT</em></h2>
                <div class="main-button scroll-to-section">
                    <a href="{{url_for('static',filename='styles/main.html')}}">LETS GET STARTED</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Features Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>ABOUT <em>PLAGIARISM</em></h2>
                        <img src="{{url_for('static',filename='styles/line-dec.png')}}" alt="waves">
                        <p>Tthe practice of taking someone else's work or ideas and passing them off as one's own.</p>
                    </div>
                </div>
                <div class="right-content">
                                <h4>Plagiarism</h4>
                                <p>Plagiarism detection or content similarity detection is the process of locating instances of plagiarism or copyright infringement within a work or document. The widespread use of computers and the advent of the Internet have made it easier to plagiarize the work of others.

Detection of plagiarism can be undertaken in a variety of ways. Human detection is the most traditional form of identifying plagiarism from written work. This can be a lengthy and time-consuming task for the reader and can also result in inconsistencies in how plagiarism is identified within an organization. Text-matching software (TMS), which is also referred to as "plagiarism detection software" or "anti-plagiarism" software, has become widely available, in the form of both commercially available products as well as open-source[examples needed] software. TMS does not actually detect plagiarism per se, but instead finds specific passages of text in one document that match text in another document.</p>
                </div>
            </div><br>
                <div class="right-content">
                                <h4>Why Use a Plagiarism Checker?</h4>
                                <p>You’re working on a paper and you’ve just written a line that seems kind of familiar. Did you read it somewhere while you were researching the topic? If you did, does that count as plagiarism? Now that you’re looking at it, there are a couple of other lines that you know you borrowed from somewhere. You didn’t bother with a citation at the time because you weren’t planning to keep them. But now they’re an important part of your paper. Is it still plagiarism if you’re using less than a paragraph?

Using someone else’s text without attribution is plagiarism, whether you meant to do it or not. Unintentional plagiarism of even a sentence or two can have serious consequences. For students, plagiarism often means a failing grade, academic probation, or worse. Fortunately, there is a tool that can help. Grammarly’s online plagiarism checker can help you ensure that you have properly identified and cited anything in your text that isn’t 100 percent original.

We originally designed our online plagiarism checker for students, but it’s a useful tool for writers in any field who want to create fresh, original, plagiarism-free work.</p>
                </div><br>

            <div class="right-content">
                                <h4>Who Benefits from Grammarly’s Plagiarism Checker?</h4>
                                <p>Whether you’re a student writing an essay, a teacher grading papers, or a writer working on original content for the web, a plagiarism scan will not only save you time, but also help you avoid writing mistakes.</p>
                </div>
            </div><br>
        </div>
    </section>
    <!-- ***** Features Item End ***** -->

    <!-- ***** Call to Action Start ***** -->
    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2>Don’t <em>think</em>, begin <em>today</em>!</h2>
                        <p>TAKING SOMETHING FROM ONE MAN AND MAKING IT WORSE IS PLAGIARISM</p>
                        <div class="main-button scroll-to-section">
                            <a href="{{url_for('static',filename='styles/main.html')}}">LETS GET STARTED</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>OUR <em>Team</em></h2>
                        <img src="{{url_for('static',filename='styles/line-dec.png')}}" alt="">
                        <p>Alone we can do so little; together we can do so much;</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{{url_for('static',filename='styles/PIC.jpg')}}" alt="">
                        </div>
                        <div class="down-content">
                            <span>Student</span>
                            <h4>Sagar Patil</h4>
                            <p>Batch:2020<br>Department Of CSE</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{{url_for('static',filename='styles/PIC.jpg')}}" alt="">
                        </div>
                        <div class="down-content">
                            <span>Student</span>
                            <h4>Prajwal</h4>
                            <p>Batch:2020<br>Department Of CSE</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{{url_for('static',filename='styles/PIC.jpg')}}" alt="">
                        </div>
                        <div class="down-content">
                            <span>Student</span>
                            <h4>Om G Dalbanjan</h4>
                            <p>Batch:2020<br>Department Of CSE</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{{url_for('static',filename='styles/PIC.jpg')}}" alt="">
                        </div>
                        <div class="down-content">
                            <span>Student</span>
                            <h4>Pooja H P</h4>
                            <p>Batch:2020<br>Department Of CSE</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                           <img src="{{url_for('static',filename='styles/PIC.jpg')}}" alt="">
                        </div>
                        <div class="down-content">
                            <span>Student</span>
                            <h4>Shravani M R</h4>
                            <p>Batch:2020<br>Department Of CSE</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="{{url_for('static',filename='styles/PIC.jpg')}}" alt="">
                        </div>
                        <div class="down-content">
                            <span>Student</span>
                            <h4>Vachana C</h4>
                            <p>Batch:2020<br>Department Of CSE</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->

    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div id="map">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1931.572027369943!2d75.88366785807072!3d14.476416297470408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bba2f6e51325245%3A0x9b42a50b7155a708!2sGM%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1670866318368!5m2!1sen!2sin" width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="contact-form">
                        <form id="Feedback" action="" method="post">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                              <fieldset>
                                <input name="subject" type="text" id="subject" placeholder="Subject">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send Message</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2022 Plagiarism Checker

                    - Designed by <a rel="nofollow" href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjm9pnGzvT7AhWUR2wGHdJ2D_wQFnoECBkQAQ&url=https%3A%2F%2Fwww.gmit.ac.in%2F&usg=AOvVaw1ryolc9gAUZBaUlFDUiWmQ" class="tm-text-link" target="_parent">GMIT CSEians</a><br>



                </p>

                    <!-- You shall support us a little via PayPal to info@templatemo.com -->

                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{url_for('static',filename='styles/jquery-2.1.0.min.js')}}"></script>

    <!-- Bootstrap -->
    <script src="{{url_for('static',filename='styles/popper.js')}}"></script>
    <script src="{{url_for('static',filename='styles/bootstrap.min.js')}}"></script>

    <!-- Plugins -->
    <script src="{{url_for('static',filename='styles/scrollreveal.min.js')}}"></script>
    <script src="{{url_for('static',filename='styles/waypoints.min.js')}}"></script>
    <script src="{{url_for('static',filename='styles/jquery.counterup.min.js')}}"></script>
    <script src="{{url_for('static',filename='styles/imgfix.min.js')}}"></script>
    <script src="{{url_for('static',filename='styles/mixitup.js')}}"></script>
    <script src="{{url_for('static',filename='styles/accordions.js')}}"></script>

    <!-- Global Init -->
    <script src="{{url_for('static',filename='styles/custom.js')}}"></script>

  </body>
</html>